VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=linhgiang-19932004.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=linhgiang-19932004
VITE_FIREBASE_STORAGE_BUCKET=linhgiang-19932004.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_HOUSEHOLD_ID=linhgiang-home
